{
  env: {
    browser: true,
    es6: true
  },

  rules: {
    max-len: [1, 100, 2],
    new-cap: [1, {
      newIsCapExceptions: ['controller']
    }],
    arrow-parens: [2, 'always'],
    arrow-spacing: 2,
    no-class-assign: 2,
    no-const-assign: 2,
    no-dupe-class-members: 2,
    no-var: 2
  }
}
