$nav-primary-bg-color: color("grey", "darken-3");
$nav-secondary-focus-color: color("teal", "accent-4");
$nav-secondary-bg-color: color("teal", "lighten-4");

#nav {
  width: 160px;
  height: inherit;
  overflow-x: hidden;
  overflow-y: hidden;

  > ul {
    width: inherit;
    height: inherit;
    overflow-y: auto;
    margin-top: 0;
    background-color: $nav-primary-bg-color;

    // inactive, 1st level
    li {
      padding-top: 0.5em;

      a {
        display: block;
        height: 2em;
        padding: 0 0.75em;

        font-size: 1rem;
        text-align: left;
        font-weight: 500;
        color: #FFFFFF;
        opacity: $opacity-light-on-dark-secondary;

        i, span {
          vertical-align: middle;
        }

        &:hover {
          opacity: $opacity-light-on-dark-primary
        }
      }

      // inactive, 2nd level
      ul li a {
        text-align: right;
        opacity: $opacity-dark-on-light-secondary;

        &:hover {
          opacity: $opacity-dark-on-light-primary
        }
      }

      // active, 1st level
      &.active {
        background-color: $nav-secondary-focus-color;

        a {
          color: #000000;
        }

        // active, 2nd level
        ul li {
          background-color: $nav-secondary-bg-color;

          a {
            font-weight: normal;
          }

          &.active {
            a {
              font-weight: bold;
              opacity: $opacity-dark-on-light-primary;
            }
          }
        }
      }
    }
  }
}
