html {
  height:100%;
}

body {
  height: inherit;
  background-image: url("../img/crossword.png");

  #container {
    display: flex;
    flex-flow: row wrap;
    height: inherit;
  }
}

#login {
  margin-top: 50px;
}

#content {
  flex: 1;
  height: inherit;
  overflow: auto;
  padding-left: 1rem;
  padding-right: 1rem;

  h1 {
    height: 4.5rem;
    padding-top: 1.5rem;
    padding-left: 4rem;
    margin-top: 0;
    margin-left: -1rem;
    margin-right: -1rem;

    background-color: $primary-color;
    color: #FFFFFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);

    font-size: 1.5rem;
  }
}
