/*** Colors ***/
$primary-color: color("teal", "accent-4");

/*** Opacity ***/
$opacity-dark-on-light-primary: 0.87;
$opacity-dark-on-light-secondary: 0.54;
$opacity-dark-on-light-hint: 0.38;
$opacity-light-on-dark-primary: 1.0;
$opacity-light-on-dark-secondary: 0.7;
$opacity-light-on-dark-hint: 0.3;

/*** Tables ***/
$table-striped-color: #f7f7f7;
